useDynLib(ProbKMA.package, .registration=TRUE)
importFrom(Rcpp, evalCpp)
## export all regularly named functions
## (but allow for private functions whose name starts with a dot).name <- function(...)
## exportPattern("^[[:alpha:]]+")
export("find_min_diss")
export("probKMA")
export("diss_d0_d1_L2")
export('domain')
export('select_domain')
export('probKMA_plot')
export('probKMA_silhouette')
export('find_candidate_motifs')
export('motifs_search')
export('motifs_search_plot')
export('compute_motif')
export('cluster_candidate_motifs_plot')
export('cluster_candidate_motifs')
export('filter_candidate_motifs')
export('compute_jk')