# Ignora i file di sistema Mac
.DS_store

Read-and-delete-me

R/

NAMESPACE

Boost.Rproj

.Rbuildignore

src/RcppExports.cp

.Rdata
.Rhistory
.Rproj.user/
*.o
*.so

Makevars
Makevars.wi

../.gitignore
src/Makevars.win
src/Makevars
